body{
    background-color: white;
    text-align: center;
}

.category{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.dispItem{
    width: 20%;
}

.dispItem img{
    max-width: 70%;
}